
.catalog_price{
   margin-top: 70px;
   margin-bottom: 150px;
}

.catalog_price_box_items{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 30px;
}

.catalog_price_box_item{
   padding: 5px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 350px;
   border: solid 1px #b1b0b0;
   overflow: hidden;
   transition: transform 0.3s ease;
}

.catalog_price_box_item:hover {
   transform: scale(1.15); 
}

.catalog_price_box_item_name{
   margin-bottom: 10px;
}

.catalog_price_box_item_img{
   max-width: 100px;
   max-height: 80px;
}

.catalog_price_box_item_btn{
   font-family: 'Forum', serif;
   background-color: #42aaff;
   color: #fff;
   padding: 5px 20px;
   border-radius: 10px;
   font-size: 15px;
   transition: background-color 0.3s, transform 0.1s;
}

.catalog_price_box_item_btn:hover{
   background-color: #043761;
}

.catalog_price_box_item_btn:active {
   transform: scale(0.95);
}


/*Responsive*/

/*Large: 992px-1199px*/
@media (max-width: 1199px) {
   .container{
      max-width: 960px;
   }
   .catalog_price_box_item{
      width: 300px;
      font-size: 15px;
      line-height: 30px;
   }
}

/*Medium: 768px-991px*/
@media (max-width: 991px) {
   .container{
      max-width: 720px;
   }
   .catalog_price_box_item{
      width: 200px;
      flex-direction: column;
   }
   .catalog_price {
      margin-top: 50px;
      margin-bottom: 0;
  }
}

/*Small: 576px-767px*/
@media (max-width: 767px) {
   .container{
      max-width: 540px;
   }
   .catalog_price_box_items{
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
   }
   .catalog_price_box_item_info{
      margin-bottom: 5px;
   }
   .catalog_price_box_item_name {
      margin-bottom: 5px;
   }
}

/*Extra small: 0px (320px) - 575px*/
@media (max-width: 575px) {
   .container{
      padding: 0 15px;
   }
   
}