.formwapper_box{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 30px;
}

.formwapper_text{
   max-width: 400px;
   text-align: center;
}

.qrcode{
   max-width: 200px;
}