.test{
   padding-top: 30px;
   min-height: 100vh;
}

.test_title{
   position: relative;
}

.test_button{
   position: absolute;
   top: 30px;
   right: 50px;
}


.questions_box{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
